body{
    font-family: 'Otomanopee One', sans-serif;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    padding: 10px 80px;
    box-sizing: border-box;
    border-bottom:1px solid rgba(44, 41, 34, 0.418);
    background:rgba(0, 0, 0, 0.102)

}
nav .logo {
    padding: 20px 20px;
    
    margin-left:50px;
    height: 80px;
    float: left;
    font-size: 80px;
    font-weight: bold;
    

}
nav ul{
    list-style: none;
    float: right;
    margin: 0%;
    padding: 0%;
    display: flex;
}
nav ul li a{
    line-height: 150px;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform:uppercase;
    
}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.192);
    border-radius: 20px;

}


h1{
    font-size: 60px;
}
p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.red-color{
    color:red;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    padding-top: 150px;

}
.half-width{
    width:50%;
}
.half-width img{
    width: 80%;
    padding: 10%;
    margin: 0%;
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(red,tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 600px;
    border-radius: 20px;
    border: 2px solid;
}



.img-width{
    width: 40%;
}
.padding{
    padding-top: 20%;
    padding-left: 20%;
}
.padding-para{
    padding-left: 20%;
}
.Myself-cook{
    background-image: url(images/shapes/Frame\ 58.jpg);
}
.text-center{
    text-align: center;
    margin: 0px auto;
}


.design-font{
    font-family:cursive;
    font-size:35px;
}
.food-things{
    box-shadow: 20px 20px 25px gray;
    width: 30%;
    margin-left:3%;
    border-radius:20px;
   
    

}
.food-things img{
    width: 350px;
    border-radius:40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
   
    
}
.text-block{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}
.text-area{
    color: rgb(210, 168, 30);
    font-size: 40px;
}


